<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.useresponse.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity android:name="com.useresponse.sdk.CategoriesActivity" />
        <activity android:name="com.useresponse.sdk.ArticlesActivity" />
        <activity android:name="com.useresponse.sdk.ArticleActivity" />
        <activity android:name="com.useresponse.sdk.RequestsActivity" />
        <activity android:name="com.useresponse.sdk.RequestActivity" />
        <activity
            android:name="com.useresponse.sdk.CreateTicketActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.useresponse.sdk.NotificationsService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.useresponse.sdk.utils.BootBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>